# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Archivos generados por builds de producción
dist/

# Archivos de entorno (Seguridad: NUNCA subir claves privadas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs (Opcional, pero recomendado para equipos)
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts